<app-header [title]="'COFRADES'"></app-header>

<ion-content>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <div class="global-wrap">
        <table class="mt-2">
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">NÚMERO DE COFRADE</th>
                <th scope="col">FECHA DE NACIMIENTO</th>
            </tr>
            <ng-container *ngFor="let cofrade of allCofrades; let i = index">
                <tr class="not-header" [class.row-background]="i % 2 === 0" (click)="navToCofradeDetail(cofrade.id)">
                    <td>{{cofrade?.name}}</td>
                    <td>{{cofrade?.surname}}</td>
                    <td>{{cofrade?.number}}</td>
                    <td>{{cofrade?.birthdate?.toDate() | date:'dd/MM/yyyy' }}</td>
                </tr>
            </ng-container>
            <!-- <tr class="not-header clickable">
                <td class="all-row">
                    Añadir Usuario
                </td>
            </tr> -->
        </table>
    </div>
</ion-content>
