<app-header [title]="'COFRADES'"></app-header>

<ion-content>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <div class="global-wrap">
         <ion-buttons class="mr-1" slot="end" (click)="incrementPage()">
            <ion-icon style="color: var(--ion-color-primary);" class="clickable" slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-buttons>
        <ion-buttons class="mr-1" slot="end" (click)="decrementPage()">
            <ion-icon style="color: var(--ion-color-primary);" class="clickable" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-buttons>
        <table class="mt-2" style="margin-bottom: 2rem !important;">
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">NÚMERO DE COFRADE</th>
                <th scope="col">NÚMERO DE ORDEN</th>
                <th class="nonDisplayPhone" scope="col">FECHA DE NACIMIENTO</th>
            </tr>
            <ng-container *ngFor="let cofrade of allCofrades; let i = index">
                <tr class="not-header clickable" [class.row-background]="i % 2 === 0" (click)="navToCofradeDetail(cofrade.id)">
                    <td class="hide-mobile" >{{cofrade?.name}}</td>
                    <td class="hide-mobile" >{{cofrade?.surname}}</td>
                    <td>{{cofrade?.number}}</td>
                    <td>{{cofrade?.customId}}</td>
                    <td>{{cofrade?.sex}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</ion-content>
