<app-header [title]="'COFRADES'"></app-header>

<ion-content>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <div class="global-wrap nonDisplayPhone" *ngIf="!loading">
        <ion-row style="justify-content: end; margin-top: 2rem; margin-bottom: .5rem;">
            <ion-col style="justify-content: start; display: flex; max-width: fit-content;">
                <span style="margin-top: .5rem; color: var(--ion-color-primary); font-weight: bold; margin-right: .3rem; margin-left: .3rem;">BUSCAR POR:</span>
                <select [(ngModel)]="filter">
                    <option value="NOMBRE" selected>Nombre</option>
                    <option value="APELLIDO">Apellido</option>
                    <option value="NUM">Número de cofrade</option>
                </select>
            </ion-col>
            <ion-col style="display: flex;">
                <input class="search-input" type="text" placeholder="Buscar..." [(ngModel)]="searchTerm">
                <ion-button *ngIf="!loading" color="primary" shape="round" (click)="searchByFilter()" [disabled]="searchTerm === null || searchTerm?.length === 0">
                    <p>Buscar</p>
                </ion-button>
                <ion-button *ngIf="loading" color="primary" shape="round" [disabled]="true">
                    <ion-spinner name="dots" color="secondary"></ion-spinner>
                </ion-button>
            </ion-col>
            <ion-col style="justify-content: end; display: flex; max-width: fit-content;">
                <ion-button shape="round" size="small" (click)="decrementPage()" [disabled]="page <= 0">
                    <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
                </ion-button>
                    <span style="margin-top: .5rem; color: var(--ion-color-primary); font-weight: bold; margin-right: .3rem; margin-left: .3rem;">{{page + 1}} / {{totalPages}}</span>
                <ion-button shape="round" size="small" (click)="incrementPage()" [disabled]="!canGoForward">
                    <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <table style="margin-bottom: 2rem !important;">
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
                <th scope="col">NÚMERO DE COFRADE</th>
                <th scope="col">NÚMERO DE ORDEN</th>
                <th class="nonDisplayPhone" scope="col">FECHA DE NACIMIENTO</th>
            </tr>
            <ng-container *ngFor="let cofrade of allCofrades; let i = index">
                <tr class="not-header clickable" [class.row-background]="i % 2 === 0" (click)="navToCofradeDetail(cofrade.id)">
                    <td>{{cofrade?.name}}</td>
                    <td>{{cofrade?.surname}}</td>
                    <td>{{cofrade?.number}}</td>
                    <td>{{cofrade?.customId}}</td>
                    <td>{{cofrade?.sex}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
    <div class="global-wrap displayOnlyPhone" *ngIf="!loading">
        <ion-row style="justify-content: end; margin-top: 2rem; margin-bottom: .5rem;">
            <ion-button shape="round" size="small" (click)="decrementPage()" [disabled]="page <= 0">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
                <span style="margin-top: .5rem; color: var(--ion-color-primary); font-weight: bold; margin-right: .3rem; margin-left: .3rem;">{{page + 1}} / {{totalPages}}</span>
            <ion-button shape="round" size="small" (click)="incrementPage()" [disabled]="!canGoForward">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-row>
        <table style="margin-bottom: 2rem !important;">
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDOS</th>
            </tr>
            <ng-container *ngFor="let cofrade of allCofrades; let i = index">
                <tr class="not-header clickable" [class.row-background]="i % 2 === 0" (click)="navToCofradeDetail(cofrade.id)">
                    <td class="hide-mobile" >{{cofrade?.name}}</td>
                    <td class="hide-mobile" >{{cofrade?.surname}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</ion-content>
