.cofrade-container {
    height: 6rem;
    background: var(--ion-color-background-dark);;
    border-radius: 10px;
    padding: 1rem;
    &:hover {
        cursor: pointer;
        background: #405944;
    }
}

.hide-mobile {
    @media (max-width: 768px) {
        white-space: nowrap;
        padding: 0.5rem;
        max-width: 8rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}