.cofrade-container {
    height: 6rem;
    background: var(--ion-color-background-dark);;
    border-radius: 10px;
    padding: 1rem;
    &:hover {
        cursor: pointer;
        background: #405944;
    }
}

.hide-mobile {
    @media (max-width: 768px) {
        white-space: nowrap;
        padding: 0.5rem;
        max-width: 8rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

select {
    color: var(--ion-color-primary);
    background: white;
    border-radius: 20px;
    border:1px solid var(--ion-color-primary);
    padding-left: 10px;
}

ion-input {
    background: #cfcfcf;
    border-radius: 10px;
    --padding-start: 10px;
    margin-left: 0;
    --highlight-color: var(--ion-color-primary) !important;
    color: black;
}
.search-input {
    background: white; 
    border-radius: 26px; 
    border: 1px solid; 
    border-color: var(--ion-color-primary); 
    color: var(--ion-color-primary); 
    width: 70%;
    margin-right: 10px;
    padding-left: 1rem;
}