tr {
  &.not-header {
    &:hover {
      background: var(--ion-color-background-darkless-tint);
      cursor: pointer;
    }
  }
}

.all-row {
  color: white;
  text-align: center;
  padding: .5rem 0;
  border: 1px solid white;
}

td {
  color: white;
  text-align: center;
  padding: .5rem 0;
  border: 1px solid white;
}

th {
  padding: .5rem 0;
  font-weight: bold;
  color: var(--ion-color-primary);
  border: 1px solid white;
  border-top: 4px solid var(--ion-color-primary);
}

table {
  width: 100%;
}