<app-header [title]="'DETALLE DEL USUARIO'"></app-header>
<ion-content>
    <div class="content-wrapper" *ngIf="!loading">
      <ion-row style="justify-content: space-between; align-items: center;">
        <ion-button shape="round" class="backButton" size="small" (click)="navBack()" *ngIf="!loading">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          ATRÁS
        </ion-button>
        <ion-button shape="round" class="backButton" size="small" (click)="presentActionsPopover($event)" *ngIf="!loading">
          <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
          ACCIONES
        </ion-button>
      </ion-row>
      <div class="card-container">
        <ion-row class="nonDisplayPhone">
          <ion-col>
            <ion-row style="gap: 1rem;">
              <p>NOMBRE A MOSTRAR:</p>
              <p class="normal-p">{{admin?.displayName}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>EMAIL :</p>
              <p class="normal-p">{{admin?.email}}</p>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row style="gap: 1rem;">
              <p>POSICIÓN EN JUNTA :</p>
              <p class="normal-p">{{admin?.role}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="displayOnlyPhone" >
          <ion-col style="flex-direction: column; display: flex;">
            <ion-row style="gap: 1rem;">
              <p>NOMBRE :</p>
              <p class="normal-p">{{admin?.displayName}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>EMAIL :</p>
              <p class="normal-p">{{admin?.email}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>POSICIÓN EN JUNTA :</p>
              <p class="normal-p">{{admin?.role}}</p>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </div>
</ion-content>
