<ion-content [fullscreen]="true">
  <div class="u-wrapper">
    <ion-card>
      <ion-col class="flex-center">
        <img style="max-height: 7rem;" alt="Logo" src="assets/img/barchin-badge.png"/>
        <ion-card-header>
          <ion-card-title>Comisión Barchin del Hoyo</ion-card-title>
          <ion-card-subtitle class="text-center">Administración</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
      <ion-card-header>

      </ion-card-header>
      <ion-card-content>
        <ion-col>
          <ion-row class="flex-center mb-05">
            <ion-input class="mx-auto" placeholder="Email" clear-input="true" mode="ios"></ion-input>
          </ion-row>
          <ion-row class="flex-center mb-1">
            <ion-input class="mx-auto" placeholder="Contraseña" clear-input="true" mode="ios"></ion-input>
          </ion-row>
          <ion-row class="flex-center">
            <ion-button color="primary">
              <p>Entrar</p>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
