<ion-content [fullscreen]="true">
  <div class="u-wrapper">
    <ion-card>
      <ion-col class="flex-center">
        <img style="max-height: 7rem;" alt="Logo" src="assets/img/barchin-badge.png"/>
        <ion-card-header>
          <ion-card-title style="color: black;">COFRADIA DE SAN ROQUE</ion-card-title>
          <ion-card-subtitle class="text-center">Administración</ion-card-subtitle>
        </ion-card-header>
      </ion-col>
      <ion-card-content>
        <ion-col class="p-0">
          <ion-row *ngIf="credentialsError" class="justify-center">
            <p class="error-p">Usuario y/o contraseña incorrectas</p>
          </ion-row>
          <ion-row class="flex-center mb-05">
            <ion-input class="mx-auto" style="--placeholder-color: rgb(0, 0, 0);" [(ngModel)]="username" (ngModelChange)="resetAuthError()" placeholder="Email" mode="ios"></ion-input>
          </ion-row>
          <ion-row class="flex-center mb-1">
            <ion-input class="mx-auto" type="password" style="--placeholder-color: rgb(0, 0, 0);" [(ngModel)]="password" (ngModelChange)="resetAuthError()" placeholder="Contraseña" mode="ios">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-row>
          <ion-row class="flex-center">
            <ion-button *ngIf="!loading" color="primary" shape="round" (click)="login()" [disabled]="credentialsError || password === null || username === null || password?.length === 0 || username?.length === 0">
              <p>Entrar</p>
            </ion-button>
            <ion-button *ngIf="loading" color="primary" shape="round" [disabled]="true">
              <ion-spinner name="dots" color="secondary"></ion-spinner>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
