<app-header [title]="'DETALLE DEL COFRADE'"></app-header>
<ion-content>
    <div class="content-wrapper">
      <div class="card-container" *ngIf="!loading">
        <ion-row>

          <ion-col>
            <!-- <p class="badge active">En activo</p>
            <p class="badge unactive">Baja</p>
            <p class="badge exitus">Difunto</p> -->
            <ion-row style="gap: 1rem;">
              <p>NOMBRE :</p>
              <p class="normal-p">{{cofrade?.name}} {{cofrade?.surname}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>NÚMERO DE COFRADE :</p>
              <p class="normal-p">{{cofrade?.number}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>SEXO :</p>
              <p *ngIf="cofrade.sex === 'M'" class="normal-p">Hombre</p>
              <p *ngIf="cofrade.sex === 'W'" class="normal-p">Mujer</p>
            </ion-row>
            <ion-row style="gap: 1rem;" *ngIf="cofrade.sex === 'W'">
              <p>DAMA EN :</p>
              <p *ngIf="cofrade.damaYear != null" class="normal-p">{{cofrade.damaYear}}</p>
              <p *ngIf="cofrade.damaYear === null || cofrade?.damaYear?.length === 0" class="normal-p">No ha sido dama</p>
            </ion-row>
            <ion-row *ngIf="!cofradeIsDead()" style="gap: 1rem;">
              <p>EDAD :</p>
              <p class="normal-p">{{age}}</p>
            </ion-row>
            <ion-row *ngIf="cofradeIsDead()" style="gap: 1rem;">
              <p>FECHA DE NACIMIENTO :</p>
              <p class="normal-p">{{cofrade?.birthdate?.toDate() | date:'dd/MM/yyyy'}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>TELÉFONO :</p>
              <p *ngIf="cofrade.phoneNumber != null" class="normal-p">{{cofrade?.phoneNumber}}</p>
              <p *ngIf="cofrade.phoneNumber === null" class="normal-p">s/d</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>CUMPLIÓ COMO :</p>
              <p *ngIf="cofrade.cumpRole != null && cofrade?.cumpRole?.length > 0 && cofrade?.cumpRole === 'CAP'" class="normal-p">Capitán</p>
              <p *ngIf="cofrade.cumpRole != null && cofrade?.cumpRole?.length > 0 && cofrade?.cumpRole === 'ALF'" class="normal-p">Alferez</p>
              <p *ngIf="cofrade.cumpRole != null && cofrade?.cumpRole?.length > 0 && cofrade?.cumpRole === 'SAR'" class="normal-p">Sargento</p>
              <p *ngIf="cofrade.cumpRole != null && cofrade?.cumpRole?.length > 0 && cofrade?.cumpRole === 'AYU'" class="normal-p">Ayudante</p>
              <p *ngIf="cofrade.cumpRole != null && cofrade?.cumpRole?.length > 0 && cofrade?.cumpRole === 'BAN'" class="normal-p">Abanderado</p>
              <p *ngIf="cofrade.cumpRole === null || cofrade?.cumpRole?.length === 0" class="normal-p">No ha cumplido</p>
            </ion-row>
            <ion-row *ngIf="cofrade.cumpYear != null" style="gap: 1rem;">
              <p>CUMPLIÓ EN :</p>
              <p class="normal-p">{{cofrade.cumpYear}}</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>REFERENCIA FAMILIAR :</p>
              <p *ngIf="cofrade?.info != null && cofrade?.info?.length > 0" class="normal-p">{{cofrade.info}}</p>
              <p *ngIf="cofrade?.info === null || cofrade?.info?.length === 0" class="normal-p">s/d</p>
            </ion-row>
            
          </ion-col>
          <ion-col>
            <ion-row style="height: 43px;">
              <p *ngIf="!cofradeIsDead() && cofrade?.bajaReason === null" class="badge active">Cofrade</p>
              <p *ngIf="cofrade?.bajaReason != null && cofrade?.bajaReason?.length > 0 && cofrade.bajaReason === 'IMP'" class="badge unpaid">Baja por impago</p>
              <p *ngIf="cofrade?.bajaReason != null && cofrade?.bajaReason?.length > 0 && cofrade.bajaReason === 'VOL'" class="badge unactive">Baja voluntaria</p>
              <p *ngIf="cofradeIsDead()" class="badge exitus">Difunto</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>MAYORDOMO EN :</p>
              <p *ngIf="cofrade.mayorYear != null" class="normal-p">{{cofrade.mayorYear}}</p>
              <p *ngIf="cofrade.mayorYear === null" class="normal-p">No ha sido mayordomo</p>
            </ion-row>
            <ion-row style="gap: 1rem;">
              <p>FAROL EN :</p>
              <p *ngIf="cofrade.farolYear != null" class="normal-p">{{cofrade.farolYear}}</p>
              <p *ngIf="cofrade.farolYear === null" class="normal-p">No ha sido farol</p>
            </ion-row> 
            <ion-row *ngIf="cofrade.bajaYear != null" style="gap: 1rem;">
              <p>BAJA EN:</p>
              <p class="normal-p">{{cofrade.bajaYear}}</p>
            </ion-row>
            <ion-row *ngIf="cofrade.bajaReason && cofrade.bajaReason?.length > 0" style="gap: 1rem;">
              <p>MOTIVO DE LA BAJA :</p>
              <p *ngIf="cofrade.bajaReason === 'VOL'" class="normal-p">Baja voluntaria</p>
              <p *ngIf="cofrade.bajaReason === 'IMP'" class="normal-p">Impago</p>
              <p *ngIf="cofrade.bajaReason === 'EXI'" class="normal-p">Defunción</p>
            </ion-row>
          </ion-col>
        </ion-row>
<!--         <ion-row style="justify-content: center;">
          <ion-button color="primary" shape="round" (click)="createCofrade()" [disabled]="buttonIsDisabled()">
            DAR DE ALTA
          </ion-button>
        </ion-row> -->
      </div>
    </div>
</ion-content>
