// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

    --ion-color-primary: #408080;
	--ion-color-primary-rgb: 64,128,128;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #387171;
	--ion-color-primary-tint: #538d8d;

    --ion-color-secondary: #73b07c;
	--ion-color-secondary-rgb: 115,176,124;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #659b6d;
	--ion-color-secondary-tint: #81b889;

	--ion-color-background-light: #ffffff;
	--ion-color-background-light-rgb: 255,255,255;
	--ion-color-background-light-contrast: #000000;
	--ion-color-background-light-contrast-rgb: 0,0,0;
	--ion-color-background-light-shade: #e0e0e0;
	--ion-color-background-light-tint: #ffffff;

	--ion-color-background-lightless: #f4f4f4;
	--ion-color-background-lightless-rgb: 244,244,244;
	--ion-color-background-lightless-contrast: #000000;
	--ion-color-background-lightless-contrast-rgb: 0,0,0;
	--ion-color-background-lightless-shade: #d7d7d7;
	--ion-color-background-lightless-tint: #f5f5f5;

    --ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

    --ion-color-danger: #ff5c74;
	--ion-color-danger-rgb: 255,92,116;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e05166;
	--ion-color-danger-tint: #ff6c82;
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-danger {
	--ion-color-base: var(--ion-color-danger);
	--ion-color-base-rgb: var(--ion-color-danger-rgb);
	--ion-color-contrast: var(--ion-color-danger-contrast);
	--ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
	--ion-color-shade: var(--ion-color-danger-shade);
	--ion-color-tint: var(--ion-color-danger-tint);
}

.ion-color-background-light {
	--ion-color-base: var(--ion-color-background-light);
	--ion-color-base-rgb: var(--ion-color-background-light-rgb);
	--ion-color-contrast: var(--ion-color-background-light-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-light-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-light-shade);
	--ion-color-tint: var(--ion-color-background-light-tint);
}

.ion-color-background-lightless {
	--ion-color-base: var(--ion-color-background-lightless);
	--ion-color-base-rgb: var(--ion-color-background-lightless-rgb);
	--ion-color-contrast: var(--ion-color-background-lightless-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-lightless-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-lightless-shade);
	--ion-color-tint: var(--ion-color-background-lightless-tint);
}

@font-face {
  font-family: "dacasa";
  src: url("../assets/fonts/gilroy.ttf")
}

*{
  font-family: "dacasa";
}
