// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

    --ion-color-primary: #88f498;
	--ion-color-primary-rgb: 136,244,152;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #78d786;
	--ion-color-primary-tint: #94f5a2;

    --ion-color-secondary: #73b07c;
	--ion-color-secondary-rgb: 115,176,124;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #659b6d;
	--ion-color-secondary-tint: #81b889;

    --ion-color-background-dark: #2D2D2D;
	--ion-color-background-dark-rgb: 45,45,45;
	--ion-color-background-dark-contrast: #ffffff;
	--ion-color-background-dark-contrast-rgb: 255,255,255;
	--ion-color-background-dark-shade: #282828;
	--ion-color-background-dark-tint: #424242;

    --ion-color-background-darkless: #3F3F3F;
	--ion-color-background-darkless-rgb: 63,63,63;
	--ion-color-background-darkless-contrast: #ffffff;
	--ion-color-background-darkless-contrast-rgb: 255,255,255;
	--ion-color-background-darkless-shade: #373737;
	--ion-color-background-darkless-tint: #525252;

    --ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

    --ion-color-danger: #ff5c74;
	--ion-color-danger-rgb: 255,92,116;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e05166;
	--ion-color-danger-tint: #ff6c82;
}

.ion-color-background-dark {
	--ion-color-base: var(--ion-color-background-dark);
	--ion-color-base-rgb: var(--ion-color-background-dark-rgb);
	--ion-color-contrast: var(--ion-color-background-dark-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-dark-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-dark-shade);
	--ion-color-tint: var(--ion-color-background-dark-tint);
}

.ion-color-background-darkless {
	--ion-color-base: var(--ion-color-background-darkless);
	--ion-color-base-rgb: var(--ion-color-background-darkless-rgb);
	--ion-color-contrast: var(--ion-color-background-darkless-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-darkless-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-darkless-shade);
	--ion-color-tint: var(--ion-color-background-darkless-tint);
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-danger {
	--ion-color-base: var(--ion-color-danger);
	--ion-color-base-rgb: var(--ion-color-danger-rgb);
	--ion-color-contrast: var(--ion-color-danger-contrast);
	--ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
	--ion-color-shade: var(--ion-color-danger-shade);
	--ion-color-tint: var(--ion-color-danger-tint);
}
