<app-header [title]="'JUNTA'"></app-header>

<ion-content>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <div class="global-wrap">
        <table class="mt-2">
            <tr>
                <th scope="col">USUARIO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PUESTO</th>
            </tr>
            <ng-container *ngFor="let user of allUsers; let i = index">
                <tr class="not-header" [class.row-background]="i % 2 === 0">
                    <td>{{user?.displayName}}</td>
                    <td>{{user?.email}}</td>
                    <td>{{user?.role}}</td>
                </tr>
            </ng-container>
            <!-- <tr class="not-header clickable">
                <td class="all-row">
                    Añadir Usuario
                </td>
            </tr> -->
        </table>
    </div>
</ion-content>
