tr {
  &.not-header {
    &.clickable {
      &:hover {
        background: var(--ion-color-primary-tint);
        cursor: pointer;
      }
    }
  }
}

.row-background {
  background: #c1d5d575;
}

.all-row {
  color: white;
  text-align: center;
  padding: .5rem 0;
  border: 1px solid var(--ion-color-primary);;
}

td {
  color: black;
  text-align: center;
  padding: .5rem 0;
  border: 1px solid var(--ion-color-primary);
}

th {
  padding: .5rem;
  font-weight: bold;
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);;
  border-top: 4px solid var(--ion-color-primary);
}

table {
  width: 100%;
}